<div class="card bg border-0 border-top border-bottom rounded-0">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <a href="/profile/{{ friend.username }}">
                    {% with filename = friend.username %}
                        {% include "/partials/profile-image.html" %}
                    {% endwith %}
                    <p class="d-inline mx-2">
                        <span class="text-displayname">{{ friend.display_name }}</span>
                        <span class="text-username">@{{ friend.username }}</span>
                    </p>
                </a>
            </div>
            <div class="col-4">
                <!-- Remove friend button -->
                 <form action="/remove-friend/{{ friend.username }}" method="POST">
                    <button type="submit" class="btn-sm btn-primary mt-2">Remove friend</button>
                </form>
            </div>
        </div>
    </div>
</div>
