<div class="card bg border-0 border-bottom border-top rounded-0">
    <div class="card-body">
        <div class="row">
            <div class="col-2 text-center">
                <a href="/profile/{{ post.username }}">
                    <img src="/static/assets/profile-imgs/{{ post.username }}.jpg"
                         width="50" height="50" alt="Profile Image" class="rounded-circle profile-img">
                </a>
            </div>
            <div class="col-10">
                <a class="m-0" href="/profile/{{ post.username }}">
                    <span class="text-displayname">{{ post.display_name }}</span>
                    <span class="text-username">@{{ post.username }} · </span>
                    <span class="text-timeposted">{{ post.time_posted.strftime("%d/%m/%Y %H:%M") }}</span>
                </a>
                <p class="text-post-body">{{ post.body }}</p>
            </div>
        </div>
    </div>
</div>