<div class="card border-0 border-bottom rounded-0">
    <div class="card-body">
        <div class="row">
            <div class="col-2 text-center">
                <a href="/profile/{{ post.username }}">
                    <img src="/static/assets/profile-imgs/{{ post.username }}.jpg"
                         width="50" height="50" alt="Profile Image" class="rounded-circle profile-img">
                </a>
            </div>
            <div class="col-10">
                <a class="m-0" href="/profile/{{ post.username }}">
                    <p class="post-username-text">
                        <span style="font-weight: 550">{{ post.display_name }}</span>
                        <span style="font-size: 0.8em; color:gray">@{{ post.username }} · </span>
                        <span style="font-size: 0.7em; color:gray">{{ post.time_posted.strftime("%d/%m/%Y %H:%M") }}</span>
                    </p>
                </a>
                <p style="font-size: 1.2em">{{ post.body }}</p>
            </div>
        </div>
    </div>
</div>