<div class="card bg border-0 border-top border-bottom rounded-0">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                {% with filename = profile_owner.username %}
                    {% include "/partials/profile-image.html" %}
                {% endwith %}
                    <span class="text-displayname ms-3">{{ profile_owner.display_name }}</span>
                    <span class="text-username">@{{ profile_owner.username }}</span>
            </div>
            <div class="col-4">
                {% if current_user.username != profile_owner.username %}
                    {% if profile_owner not in friends %}
                        <!-- Add friend button -->
                        <form action="/add-friend/{{ profile_owner.username }}" method="POST">
                            <button type="submit" class="btn-sm mt-2 btn-primary">Add friend</button>
                        </form>
                    {% endif %}
                    {% if profile_owner in friends %}
                    <!-- Remove friend button -->
                    <form action="/remove-friend/{{ profile_owner.username }}" method="POST">
                        <button type="submit" class="btn-sm btn-primary mt-2">Remove friend</button>
                    </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>