<form action="/login" method="POST">
  <!-- Username-->
  <div class="form-outline">
    <input type="text" id="username" name="username" class="form-control" />
    <label class="form-label" for="username">Username</label>
  </div>

  <!-- Password -->
  <div class="form-outline">
    <input type="password" id="password" name="password" class="form-control"/>
    <label class="form-label" for="password">Password</label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block">Sign in</button>

  <!-- Register button -->
    <p>Don't have an account?
        <button type="button" class="btn btn-block" data-bs-toggle="modal" data-bs-target="#signup-modal">
            Register
        </button>
    </p>
</form>