<!-- Website logo -->
<a class="navbar-brand" href="/">
    <span class="navbar-text">Soci@l</span>
</a>
<!-- Navigation links -->
{% set nav_links = ["home", "explore", "friends", "profile", "settings"] %}
{% set auth_required = ["auth-required", "", "auth-required", "auth-required", ""] %}
{%  for nav_link in nav_links %}
    <a class="nav-link {{ auth_required[loop.index0] }}" href="/{{ nav_link }}">
        <img class="me-2" src="/static/images/{{ nav_link }}-icon.png" width="25" height="25" alt="Profile Image">
        <span class="navbar-text">{{ nav_link | capitalize }}</span>
    </a>
{% endfor %}
